{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{%block title%}گذرواژه  تغیر پیدا کرد{% endblock %}

{% block main %}
	<form method="post" enctype="multipart/form-data">{% csrf_token %}
		<div class="col-md-6 mx-auto">
            <!-- general form elements -->
            <div class="card card-success">
	            <div class="card-header">
	                <h3 class="card-title float-right">گذرواژه  تغیر پیدا کرد</h3>
	            </div>
				<div class="card-body text-center">
					<p class="py-3">گذرواژه با موفقیت تغیر پیدا کرد</p>
					<button type="submit" class="btn btn-success"><a style="color: #fff;" href="{%url 'account:profile'%}">برگشت</a></button>
				</div>
			</div>
        </div>
	</form>
{%  endblock %}