{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ایمیل ادرس تایید شد </title>
	<link rel="stylesheet" type="text/css" href="{% static 'registration/login/css/register_confirm.css' %}">
</head>
<body>
   <h2>
	   بازیابی رمز عبور انجام شد
	</h2>
	<p>
	    بازیابی رمزعبور انجام شد تشکر از اینکه از ویبگاه ما استفاده می کنید برای ورور با گذرواژه جدید خود انیجا <a href="{% url 'login' %}">کلیک  </a> کنید
	</p>
</body>
</html>