<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" description='Nasir Ahmad Ahmady'>
    <meta name="keywords" description="این یک مقاله تستی است ">
    <meta charset="utf-8">
    <link rel="icon" href="assets/svg/favicon.ico">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>| خانه</title>
</head>
<body>
    <header style="background-image: url(assets/img/bg.jpg);">
        <div class="nav-wrapper">
            <nav class="container">
                <div class="logo">وبلاگ جنگویی من </div>
                <div class="myButton d-lg-none"><i class="fa fa-bars"></i> مینو</div>
                <ul>
                    <li><a href="#"> خانه</a><span></span></li>
                    <li><a href="#"> آموزش</a><span></span>
                        <ul>
                            <li><a href="#"> ویندوز</a><span></span>
                                <ul>
                                    <li><a href="#"> ویندوز</a><span></span></li>
                                    <li><a href="#"> ریش</a><span></span>
                                        <ul>
                                            <li><a href="#"> آموزش</a><span></span>
                                                <ul><li><a href="#"> ویندوز</a><span></span></li>
                                                    <li><a href="#"> ریش</a><span></span></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"> ریش</a><span></span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#"> ریش</a><span></span>
                                <ul>
                                    <li><a href="#"> آموزش</a><span></span>
                                        <ul><li><a href="#"> ویندوز</a><span></span></li>
                                            <li><a href="#"> ریش</a><span></span></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"> ریش</a><span></span></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"> لینوکس</a><span></span></li>
                    <li><a href="#"> ویندوز</a><span></span></li>
                    <li><a href="#"> ریش</a><span></span></li>
                </ul>
            </nav>
        </div>
        <h1 class="site-title">احمدی سایت</h1>
    </header>
    <main class="container">
        <div class="text-container">
            <h2>اوبونتو</h2>
            <p class="main-content">
                اوبونتو یک سیستم عامل است یعنی یکی از نسخه های لینوکس است اوبونتو یک سیستم عامل است یعنی یکی از نسخه های لینوکس است اوبونتو یک سیستم عامل است یعنی یکی از نسخه های لینوکس است اوبونتو یک سیستم عامل است یعنی یکی از نسخه های 
            </p>
            <div class="time-exp">
                نوشته شده توسط : 
                <span class="author-name"><a href="#">نصیر احمد احمدی</a></span>
                <span class="article-time">
                    ۲۸ جدی ۱۴۰۰ ساعت ۶:۳۲
                </span>
            </div>
            <div class="category">
                <a href="#">#لینوکس</a>
            </div>
        </div>
        <hr>
        <div class="text-container">
            <h2>اوبونتو</h2>
            <p class="main-content">
                اوبونتو یک سیستم عامل است یعنی یکی از نسخه های لینوکس است اوبونتو یک سیستم عامل است یعنی یکی از نسخه های لینوکس است اوبونتو یک سیستم عامل است یعنی یکی از نسخه های لینوکس است اوبونتو یک سیستم عامل است یعنی یکی از نسخه های 
            </p>
            <div class="time-exp">
                نوشته شده توسط : 
                <span class="author-name"><a href="#">نصیر احمد احمدی</a></span>
                <span class="article-time">
                    ۲۸ جدی ۱۴۰۰ ساعت ۶:۳۲
                </span>
            </div>
            <div class="category">
                <a href="#">#لینوکس</a>
            </div>
        </div>
        <hr>
        <div class="text-container">
            <h2>اوبونتو</h2>
            <p class="main-content">
                اوبونتو یک سیستم عامل است یعنی یکی از نسخه های لینوکس است اوبونتو یک سیستم عامل است یعنی یکی از نسخه های لینوکس است اوبونتو یک سیستم عامل است یعنی یکی از نسخه های لینوکس است اوبونتو یک سیستم عامل است یعنی یکی از نسخه های 
            </p>
            <div class="time-exp">
                نوشته شده توسط : 
                <span class="author-name"><a href="#">نصیر احمد احمدی</a></span>
                <span class="article-time">
                    ۲۸ جدی ۱۴۰۰ ساعت ۶:۳۲
                </span>
            </div>
            <div class="category">
                <a href="#">#لینوکس</a>
            </div>
        </div>
        <hr>
        <div class="text-container">
            <h1>اوبونتو</h1>
            <p class="main-content">
                اوبونتو یک سیستم عامل است یعنی یکی از نسخه های لینوکس است اوبونتو یک سیستم عامل است یعنی یکی از نسخه های لینوکس است اوبونتو یک سیستم عامل است یعنی یکی از نسخه های لینوکس است اوبونتو یک سیستم عامل است یعنی یکی از نسخه های 
            </p>
            <div class="time-exp">
                نوشته شده توسط :
                <span class="author-name"><a href="#">نصیر احمد احمدی</a></span>
                <span class="article-time">
                    ۲۸ جدی ۱۴۰۰ ساعت ۶:۳۲
                </span>
            </div>
            <div class="category">
                <a href="#">#لینوکس</a>
            </div>
        </div>
        <hr>
        <!-- pager -->
        <div class="pagenation">
            <span class="next-page">
                پوست های جدید
            </span>
            <span class="pre-page">
                پوست های گذشته
            </span>
        </div>
    </main>
    <footer>
        <hr>
        <div class="icon-wrapper my-3">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-telegram"></i>
        </div>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>