{% extends 'blog/list.html' %}

{% block pagetitle %}{{search}}{% endblock %}
{% block header_2 %}{{search}}{% endblock %}

{% block header %}
	<div class="text-center w-100" style="background-color: #7ba3d1;">
	    <p class="p-2 ">
	        جستجو: {{search}}
	    </p>
	</div>
{% endblock %}

{% block next_page_number %}{% url 'blog:search' page_obj.next_page_number %}?q={{search}}{% endblock %}
{% block previous_page_number %}{% url 'blog:search' page_obj.previous_page_number %}?q={{search}}
{% endblock %}